@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9c8296;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* #fbd2f1 */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  font-family: 'Rancho';
  font-size: 60px;
  /* text-transform: uppercase; */
  text-align: center;
  color:#ff349a
}

body{
  background-color: #9c8296;
}

.links{
  margin-bottom: 10px;
  display: inline-block;
}

.links img{
  -webkit-filter: drop-shadow(0px rgb(0 0 0 0));
  filter: drop-shadow(0px rgb(0 0 0 0));
}

.links:hover img{
  -webkit-filter: drop-shadow(4px 4px 8px rgb(0 0 0 / 0.8));
 filter: drop-shadow(4px 4px 8px rgb(0 0 0 / 0.8));
 cursor: pointer;
}

.links:hover p{
  font-weight: 500;
  -webkit-filter: drop-shadow(4px 4px 8px rgb(0 0 0 / 1));
 filter: drop-shadow(4px 4px 8px rgb(0 0 0 / 1));
}

.users{
  width: 100% !important;
}

.fotos{
  position: relative;
  flex: 0 0 20vw;
  width: 150px;
  border-radius: 100px;
  /* border: 2px solid #FE8AE8; */
}